<mat-card id = "propertyCard" (click)="propertyClick()">
    <img mat-card-image src="../../../assets/images/property_card.jpg" alt="House">
    <mat-card-content>
        <mat-card-subtitle id = "priceText">
            address feet text
        </mat-card-subtitle>
        <mat-card-subtitle id ="squarefeetText">
            {{"12000" | currency}}
        </mat-card-subtitle>
        <mat-card-subtitle id = "addressText">
            square text
        </mat-card-subtitle>
    </mat-card-content>
</mat-card>