<!-- 
<div id ="createPropertyPage">
    <div id = "propertyPanel">
        <br><br>

        <h1 id = "createPropertyTitle">Create Property</h1>
        
        <input id = "priceInput" placeholder="price" type="number"><br><br>
        <input id = "squarefeetInput" placeholder="square feet"><br><br>
        <input id="locationInput" placeholder="location" type="text"><br><br>
        
        <input type="file" (change)="selectFile($event)">

        <button class="btn btn-success" [disabled]="!fileImport" (click)="uploadImage()">Create Property</button>
    
    
    </div>
</div> -->
<mat-card id="CreatePropertyContainer">
        <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Price" id="PriceInput" required [(ngModel)] = "priceField">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Surface</mat-label>
            <input matInput type="number" placeholder="Surface" id="SurfaceInput" required [(ngModel)] = "squareFeetField">
            <mat-hint >Enter Surface in square feet</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Location" id="LocationInput" required [(ngModel)] = "addressField">
        </mat-form-field>
        <mat-form-field>
        <mat-label>Property Type</mat-label>
        <mat-select>
            <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType.value">
            {{propertyType.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <app-drop-file></app-drop-file>
        <button mat-button color="accent" (click) = "createProperty()">Create</button>
        <!-- <button mat-button color="accent">Cancel</button> -->
</mat-card>


