header{
    background: url("../../../assets/images/banner.jpg") center;
    height: 400px;
    width: 100%;
}

#bannerImg{
    width: 100%;
}
#searchContainer{
    width: 60%;
    position: relative;
    top: 10em;
    left: 20%;
    background-color: aliceblue;
    border-radius: 5px;
    height: 51px;
}
#searchContainer .mat-form-field-wrapper{
    margin: 0;
    padding: 0;
}

#searchInput{
    width: 100%;
    position: absolute;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid;
    padding: 15px;
}

#searchIcon{
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    right: 0;
    padding: 5px 0;
    color: grey;
}
#searchIcon:hover{
    color: black;
    font-size: 50px;
}