<div id="leftMenu">
  <button mat-button [matMenuTriggerFor]="animals">Menu 1</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item>something 1</button>
    <button mat-menu-item>something 2</button>
  </mat-menu>
  <button mat-button>Menu 2</button>
  <button mat-button>Menu 3</button>
</div>

<img id="logo" src="../../../assets/images/Logo.png" alt="Anglo">
<div id="rightMenu">
  <button mat-button>Menu 4</button>
  <button mat-button>Menu 5</button>
  <button mat-button>Menu 6</button>
</div>

