#logo{
    margin: 0 auto;
    display: block;
}

#leftMenu{
    position: absolute;
}

#leftMenu button, #rightMenu button{
    padding: 0 30px;
}

#leftMenu, #rightMenu{
    margin-top: 30px;
}

#rightMenu{
    margin-top: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
#LoginContainer, #createPropertyContainer{
    position: fixed;
    left: 35%;
    top: 7em;
    z-index: 11;
}
#createPropertyContainer{
    left: 30%;
}

#backTransparent{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
}

#loginCancelIcon, #createPropertyCancelIcon{
    position: absolute;
    z-index: 12;
    top: 1em;
    left: 12em;
    cursor: pointer;
}
#createPropertyCancelIcon{
    left: 20em;
}

#loginCancelIcon:hover, #createPropertyCancelIcon:hover{
    box-shadow: 0 0 6px 1px black;
    border-radius: 50%;
}