<!-- <div id="leftMenu">
  <button mat-button [matMenuTriggerFor]="animals">Menu 1</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item>something 1</button>
    <button mat-menu-item>something 2</button>
  </mat-menu>
  <button mat-button>Menu 2</button>
  <button mat-button>Menu 3</button>
</div> -->

<img id="logo" src="../../../assets/images/Logo.png" alt="Anglo">
<div id="rightMenu">
  <button mat-button>Agents</button>
  <button mat-button (click)="createProperty()">Create Property</button>
  <button mat-button (click)="loginPopup()">Login</button>
</div>

<div id="backTransparent" *ngIf="backTransparent"></div>
<div id="LoginContainer" *ngIf="LoginContainer">
  <mat-icon id="loginCancelIcon" matSuffix (click)="loginPopupClose()">cancel</mat-icon>
  <app-login></app-login>
</div>

<div id="createPropertyContainer" *ngIf="createPropertyContainer">
  <mat-icon id="createPropertyCancelIcon" matSuffix (click)="createPropertyClose()">cancel</mat-icon>
  <app-property-create></app-property-create>
</div>