<mat-card id="login">
    <form class="example-form" >
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput placeholder="" required>
      </mat-form-field>
      
      <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
        </mat-form-field>
        <button mat-button color="accent">login</button>
    </form>
</mat-card>
