
<app-menu></app-menu>
<app-banner></app-banner>
<div id = "propertyCards">
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  </div>